{% extends 'codificador/base.html'%}
{% block title %}CODIFICADOR UAIP{% endblock %}
{% block stylesheets %}
<noscript>
	<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/5grid/core.css" />
	<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/5grid/core-desktop.css" />
	<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/5grid/core-1200px.css" />
	<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/5grid/core-noscript.css" />
	<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/style.css" />
	<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/style-desktop.css" />
</noscript>
<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/table_style.css" />
<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/menu/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/css/form_styles.css" />
<script src="{{URL_STATICOS}}/aqueous/css/5grid/jquery.js"></script>
<script src="{{URL_STATICOS}}/aqueous/css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
<!--[if IE 9]><link rel="stylesheet" href="{{URL_STATICOS}}/aqueous/style-ie9.css" /><![endif]-->
{% endblock %}

{% block body %}
<!-- menu nuevo -->
	<ul id="nav_new">
		<div class="table">
		<li>
			<a href="/codificador/archivo/add" >Archivos</a>
		</li>
		<li>
			<a href="/admin/logout/">Log out</a>
		</li>
		</div>
	</ul>

<!-- Fin menu nuevo -->

<div id="header-wrapper">
	<header id="header">
		<div class="5grid-layout">
			<div class="row">

			</div>
		</div>
		<div id="menu-wrapper">
			<div class="5grid-layout">
				<div class="row">
					<div class="12u" id="menu">
						<nav class="mobileUI-site-nav">
							<div >
								CODIFICADOR UAIP
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
<div id="page-wrapper">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="page" class="5grid-layout">
				<div id="page-content-wrapper">
					<div class="row">
						<div class="12u">
							<div class="row">
								<!-- ... -->
								<div class="" style="width:100%; padding:0 20px;">
									<section id="content">
										{% block page_content %} Contenido
										<h2>Archivos</h2>
										<p class="subtitle">
											Mantenimiento Archivo X
										</p>
										<p>
											Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna, elementum ut, vestibulum eu, facilisis quis, arcu. Mauris a dolor. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc. Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. In hac habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Pellentesque erat erat, tincidunt in, eleifend accumsan, malesuada eget, augue. Suspendisse sit amet tellus in eros bibendum condimentum. Vestibulum suscipit volutpat nulla. Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis.
										</p>
										{% endblock %}
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="12u">
						<div class="row" id="footer-content">
							<div class="4u" id="box1">

							</div>
							<div class="4u" id="box2">

							</div>
							<div class="4u" id="box3">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="5grid-layout">
	<section>
		<p>
			Presidencia de la República de El Salvador
		</p>
	</section>
</div>
{% endblock %}